<html>
<head>
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>
    <h1>{{title}}</h1>
    {% for d in component_to_details %}
    <br>
    <h3>Component: {{d+1   }}</h3>
    <img src='./graphs/component_plot_{{d+1}}.png' />
    <p><b>Positive subreddits: </b>{{", ".join(component_to_details[d]['pos_subreddits'])}}</p>
    <p><b>Negative subreddits: </b>{{", ".join(component_to_details[d]['neg_subreddits'])}}</p>

    <p><b>Positive features: </b></p><br />
    <div class="image_grid">
        {{component_to_details[d]['pos_features']}}
    </div>

    <p><b>Negative features: </b></p><br />
    <div class="image_grid">
        {{component_to_details[d]['neg_features']}}
    </div>
    <hr>
<!--    <p>{{component_to_details[d]}}</p>-->
    {% endfor %}
</body>

</html>