<html>
<head>
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>
    <h1>{{title}}</h1>
    {% for d in component_to_details %}
    <br>
    <h3>Factor: {{d+1   }}</h3>
    <img src='{{graph_filepath}}/component_plot_{{d+1}}.png' />
    <p><b>Positive subreddits: </b>{{", ".join(component_to_details[d]['pos_subreddits'])}}</p>
    <p><b>Negative subreddits: </b>{{", ".join(component_to_details[d]['neg_subreddits'])}}</p>

    <p><b>Positive features: </b></p><br />
    <div class="image_grid">
        {% for ((img_id, mid_thread), stats) in component_to_details[d]['pos_features'].items() %}
        <figure>
            <img src='images/{{ img_id }}' width="200px" />
            {% if mid_thread %}
                <b><figcaption>Midthread</figcaption></b>
            {% endif %}
            <figcaption>{{", ".join(stats)}}</figcaption>
        </figure>
        {% endfor %}
    </div>

    <p><b>Negative features: </b></p><br />
    <div class="image_grid">
        {% for ((img_id, mid_thread), stats) in component_to_details[d]['neg_features'].items() %}
        <figure>
            <img src='images/{{ img_id }}' width="200px" />
            {% if mid_thread %}
            <b><figcaption>Midthread</figcaption></b>
            {% endif %}
            <figcaption>{{", ".join(stats)}}</figcaption>
        </figure>
        {% endfor %}
    </div>
    <hr>
<!--    <p>{{component_to_details[d]}}</p>-->
    {% endfor %}
</body>

</html>